<div class="sm-col-10">
    <h2>Publications</h2>
    <ul class="par">
      Thesis:
      <ul class="bulleted">
	<li>
	  Wi-Fi Tracking: Fingerprinting Attacks and Countermeasures ({{ renvoi(url_these, 'Manuscript') }}, {{ renvoi(url_slides_these, 'slides') }})
	</li>
      </ul>
      Publications:
      <li>
	<ul class="bulleted">
	  <li>
	    Célestin Matte, Mathieu Cunche<br />
	    {{ renvoi(url_wombat, '<i>Wombat: An experimental Wi-Fi tracking system</i>') }}<br />
	    <span class="conf">{{ renvoi(url_apvp17, 'APVP 2017') }}</span>
	  </li>
	  <li>
	    Célestin Matte, Mathieu Cunche, <i>et al.</i><br />
	    {{ renvoi(url_wisec16_pdf, '<i>Defeating MAC Address Randomization Through Timing Attacks</i>') }}<br />
	    <span class="conf">{{ renvoi(url_wisec16, 'WiSec 2016') }}</span>
	  </li>
	  <li>
	    Célestin Matte, Mathieu Cunche<br />
	    {{ renvoi(url_wisec16_pdf_demo, '<i>DEMO: Panoptiphone: How Unique is Your Wi-Fi Device?</i>') }}<br />
	    <span class="conf">{{ renvoi(url_wisec16, 'WiSec 2016') }}</span>
	  </li>
	  <li>
	    Mathy Vanhoef, Célestin Matte, Mathieu Cunche, <i>et al.</i><br />
	    {{ renvoi(url_asiaccs_pdf, '<i>Why MAC Address Randomization is not Enough: An Analysis of Wi-Fi Network Discovery Mechanisms</i>') }}<br />
	    <span class="conf">{{ renvoi(url_asiaccs16, 'AsiaCCS 2016') }} + {{ renvoi(url_phdday16, 'CITI lab PhD Day 2016') }} + {{ renvoi(url_apvp16, 'APVP 2016') }}</span>
	  </li>
	  <li>
	    Célestin Matte, Jagdish Prasard Achara, Mathieu Cunche<br />
	    {{ renvoi(url_geolocattack, '<i>Device-to-Identity Linking Attack Using Targeted Wi-Fi Geolocation Spoofing</i>') }}<br />
	    <span class="conf">{{ renvoi(url_wisec15, 'WiSec 2015') }} + {{ renvoi(url_stda14, 'STDA 2014') }} + {{ renvoi(url_apvp14, 'APVP 2014') }} (+ travel grant obtained)</span>
	  </li>
	  <li>
	    Célestin Matte<br />
	    <i>Privacy-preserving Wi-Fi tracking systems</i><br />
	    <span class="conf">{{ renvoi(url_phdday15, 'PhD students\' day — CITI lab') }}</span>
	  </li>
        </ul>
      </li>
      Non-academic:
      <li>
	<ul class="bulleted">
	  <li>
	    Célestin Matte<br />
	    <i>Traçage Wi-Fi : qu’en est-il en pratique ?</i><br />
	    <span class="conf">GNU/Linux Magazine HS n°99 (2018-11)</span>
	  </li>
	  <li>
	    Célestin Matte<br />
	    {{ renvoi(url_misc96, '<i>MAC Address Randomization : tour d’horizon</i>') }}<br />
	    <span class="conf">MISC n°96 (2018-03)</span>
	  </li>
	  <li>
	    Célestin Matte<br />
	    {{ renvoi(url_glmf202, '<i>Transfert de style : et si Van Gogh peignait Tux ?</i>') }} <br />
	    <span class="conf">Gnu/Linux Magazine n°202 (2017-03) (cover article)</span>
	  </li>
	  <li>
	    Célestin Matte, Mathieu Cunche<br />
	    {{ renvoi(url_glmfhs84, '<i>Traçage Wi-Fi, applications et contre-mesures</i>') }}<br />
	    <span class="conf">Gnu/Linux Magazine HS n°84 (2016-05)</span>
	  </li>
	  <li>
	    Célestin Matte<br />
	    {{ renvoi(url_misc81, '<i>Fingerprinting de smartphones : votre téléphone est-il traçable ?</i>') }}<br />
	    <span class="conf">MISC n°81 (2015-09)</span>
	  </li>
	</ul>
      </li>
    </ul>
</div>
