    <div class="left">
      <h2>Languages</h2>
    </div>
    <ul class="par_left">
      <li>
	<table>
	  <tr>
	    <td>French</td>
	    <td class="content3">
	      <div class="rws">
		read – written – spoken
	      </div>
	    </td>
	    <td class="content3">
	      Native speaker
	    </td>
	  </tr>
	  <tr>
	    <td>
	      English
	    </td>
	    <td class="content3">
	      <div class="rws">
		read – written – spoken
	      </div>
	    </td>
	    <td class="content3">
	      TOEIC: <b>930</b><br />
	      TOEFL iBT: <b>99</b>
	    </td>
	  </tr>
	  <tr>
	    <td>German</td>
	    <td class="content3">
	      <div class="rws">
		read – written – spoken
	      </div>
	    </td>
	  </tr>
	</table>
      </li>
    </ul>
