    <div class="clear">
      <h2>Misc.</h2>
    </div>
    <ul class="par">
      <li>
	<div class="misc">
	  Driving license.<br/>
	  PSC1: Prevention and civic aid, level 1 (French first aid diploma).<br/>
	  System administrator for an association in 2012-14: in charge of servers hosting student websites ({{ renvoi(url_polecom, 'Summary', url_polecom_short) }}).<br />
	  Former developper for the online game {{ renvoi(url_sistearth, 'Sistearth') }}: rewriting part of the interface in AJAX, debugging.<br />
	  {{ renvoi(url_grehack, 'GreHack') }} 2015 organizer.<br/>
	  Hobbies: dance (hip hop, contemporary and classical dance, handstand), digital art, singing.<br/>
	  Wrote several dancing shows, some using digital art (Kinect sensors) ({{ renvoi(url_danse, 'Website', url_danse_short) }})
	</div>
      </li>
    </ul>
