    <div class="clear">
      <h2>Software</h2>
    </div>
    <ul class="par">
      <li>
	<div class="software">
	  <ul>
	  <li>{{ renvoi(url_cookie_glasses, 'Cookie-Glasses') }} A browser extension showing consent registered by cookie banners of IAB Europe's Transparency & Consent Framework</li>
	  <li>{{ renvoi(url_wombat_github, 'Wombat') }} A Wi-Fi tracking system for testing and demonstrational purpose</li>
	  <li>{{ renvoi(url_panoptiphone_github, 'Panoptiphone') }} A tool to show the identifying information that can be found in the frames broadcast by a Wi-Fi-enabled device.</li>
	  </ul>
	</div>
      </li>
    </ul>
