    <h2>Studies</h2>
    <ul class="par">
      <li>
	<div class="date">2011-2014</div>
	<div class="content2">
	  <b>Ensimag</b>, Grenoble INP. One semester in Aalto University (<b>Finland</b>).<br />
	  Major: Engineering of Information Systems.
	</div>
      </li>
      <li>
	<div class="date">2009-2011</div>
	<div class="content2">
	  <b>DUT</b> in computer sciences in Metz, first in the class.
	  One semester in <b>Germany</b>.
	</div>
      </li>
      <li>
	<div class="date">2009</div>
	<div class="content2">
	  High school degree in science in Lycée Fabert (Metz), with some courses in English.
	</div>
      </li>
    </ul>
