    <h2>Professional experience</h2>
    <ul class="par">
      <li>
	<div class="date">2014 - 2017</div>
	<div class="content2">
	  PhD student at CITI Lab - Inria Privatics: privacy-preserving Wi-Fi tracking.<br />

	  {%- if short==True -%}
	  Thesis: Wi-Fi Tracking: Fingerprinting Attacks and Countermeasures ({{ renvoi(url_these, 'Manuscript') }}, {{ renvoi(url_slides_these, 'slides') }})<br />
          4 publications in peer-reviewed conferences{{ renvoi(url_publi_asiaccs16, '') }} {{ renvoi(url_geolocattack, '') }} {{ renvoi(url_publi_panoptiphone, '') }} {{ renvoi(url_publi_timing, '') }}<span class="noprint"> [<a href="{{ url_publi_asiaccs16 }}">1</a>, <a href="{{ url_geolocattack }}">2</a>, <a href="{{ url_publi_panoptiphone }}">3</a>, <a href="{{ url_publi_timing }}">4</a>]</span> + 4 publications in general public technical journals{{ renvoi(url_misc81, '') }} {{ renvoi(url_glmfhs84, '') }} {{ renvoi(url_glmf202, '') }} {{ renvoi(url_misc96, '') }}<span class="noprint"> [<a href="{{ url_misc81 }}">1</a>, <a href="{{ url_glmfhs84 }}">2</a>, <a href="{{ url_glmf202 }}">3</a>, <a href="{{ url_misc96 }}">4</a>]</span><br />
          {%- endif -%}

	  <b>Teaching</b> Java to 1st year students.<br />
	  Installation of a Wi-Fi tracking demonstration prototype at the <i>Cité des Sciences et de l'Industrie</i> (Paris) for the {{ renvoi(url_terradata, 'Terra Data exhibition') }}.
	</div>
      </li>
      <li>
	<div class="date">2014</div>
	<div class="content2">
	  6 months of internship at CITI Lab (Inria): <b>privacy</b> problems in <b>Wi-Fi</b> technology.
	</div>
      </li>
      <li>
	<div class="date">2013</div>
	<div class="content2">
	  Student projects:
	  <ul class="bulleted">
	    <li>Research subject: monitoring of <b>security</b> policy for <b>Android</b> applications, in {{ renvoi(url_lig, 'LIG') }}.</li>
	    <li>Contributing to an <b>open source</b> software: {{ renvoi(url_gitmediawiki, 'git-mediawiki') }}, with the Git community.</li>
	  </ul>
	  2 months of internship at TDF: Solution for monitoring QoS of a network architecture.
	</div>
      </li>
      <li>
	<div class="date">2012</div>
	<div class="content2">
	  2 months of internship at Digigram: Installation and configuration of a bugtracking system (Redmine), defining of needs and import of existing datas.
	</div>
      </li>
      <li>
	<div class="date">2011</div>
	<div class="content2">
	  6 months (internship + half-time job): research laboratory in Germany.<br/>
	  Creation of a reporting system and a data warehouse (Qlikvew, Drupal).
	</div>
      </li>
    </ul>
